@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-Arrow:before {
  content: "\e900";
  color: #fff;
}

._icon-Check:before {
  content: "\e901";
}

._icon-Email:before {
  content: "\e902";
  color: #fff;
}

._icon-GitHub:before {
  content: "\e903";
  color: #fff;
}

._icon-Phone:before {
  content: "\e904";
  color: #fff;
}

._icon-Telegram:before {
  content: "\e905";
  color: #fff;
}

._icon-TenChat .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}

._icon-TenChat .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(9, 7, 50);
}

._icon-TenChat .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

._icon-TenChat .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(9, 7, 50);
}

._icon-VK:before {
  content: "\e90a";
  color: #fff;
}

._icon-WhatsApp:before {
  content: "\e90b";
  color: #fff;
}

.social__item a:hover::before {
  background: -o-linear-gradient(306.08deg, #0ecaf3 15.35%, #9214d1 92.84%);
  background: linear-gradient(143.92deg, #0ecaf3 15.35%, #9214d1 92.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.menu__link:hover {
  background: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  background: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: -o-linear-gradient(313.67deg, #08031f 0%, #0b0b45 102.43%, #0b0b45 102.43%);
  background: linear-gradient(136.33deg, #08031f 0%, #0b0b45 102.43%, #0b0b45 102.43%);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.no-webp .wrapper{
  background-image: url(../img/Bacground.jpg.png); }

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 102.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 8.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.invisible-bottom {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  -webkit-transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  -o-transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
}

.visible-bottom {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  visibility: visible;
  -webkit-transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  -o-transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
}

.invisible {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0.8s;
  -o-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.8s ease 0.8s;
  -o-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.invisible-top {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  -o-transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
}

.visible-top {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
  -webkit-transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  -o-transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
}

.header {
  padding: 4.375rem 0 4.375rem 0;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__social {
  padding-top: 1.25rem;
}

.header__menu {
  padding-top: 1.25rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  width: 6.25rem;
  height: 6.25rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo__img img {
  max-width: 100%;
}

.logo__text {
  padding-left: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__title {
  font-weight: bold;
  font-size: 3rem;
}

.logo__subtitle {
  font-weight: normal;
  font-size: 1.8125rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  padding-right: 3.125rem;
}

.social__item a {
  font-size: 2.5rem;
  -webkit-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  transition: background 0.8s ease 0s;
}

.social__item a:hover::before {
  -webkit-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  transition: background 0.8s ease 0s;
}

.menu__body {
  position: fixed;
  right: -100%;
  -webkit-transition: right 0.5s ease 0s;
  -o-transition: right 0.5s ease 0s;
  transition: right 0.5s ease 0s;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
  background: -webkit-gradient(linear, left top, right top, color-stop(58%, rgba(11, 11, 69, 0.1882352941)), color-stop(41%, #0b0b45));
  background: -o-linear-gradient(left, rgba(11, 11, 69, 0.1882352941) 58%, #0b0b45 41%);
  background: linear-gradient(to right, rgba(11, 11, 69, 0.1882352941) 58%, #0b0b45 41%);
  z-index: 4;
}

.menu-open .menu__body {
  right: 0;
  -webkit-transition: right 0.5s ease 0s;
  -o-transition: right 0.5s ease 0s;
  transition: right 0.5s ease 0s;
}

.menu__body .logo {
  padding: 4.6875rem 0 0 1.875rem;
  width: 41%;
  margin-left: auto;
}

.menu__body .logo__img {
  width: 3.75rem;
  height: 3.75rem;
}

.menu__body .logo__title {
  font-size: 1.5625rem;
}

.menu__body .logo__subtitle {
  font-size: 0.9375rem;
}

.menu__body .logo__text {
  padding-left: 1.875rem;
}

.menu__list {
  font-size: 2.625rem;
  font-weight: bold;
  padding: 5rem 10% 0 4.1875rem;
  width: 41%;
  margin-left: auto;
}

.menu__item {
  padding-bottom: 1.875rem;
}

.menu__link {
  -webkit-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  transition: background 0.8s ease 0s;
}

.menu__link:hover {
  -webkit-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  transition: background 0.8s ease 0s;
  border-bottom: 3px solid skyblue;
  -o-border-image: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
     border-image: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  border-image-slice: 1;
}

.menu__social {
  padding: 6.25rem 7.5rem;
  width: 41%;
  margin-left: auto;
}

.icon-menu {
  display: block;
  position: relative;
  width: 3.75rem;
  height: 2.1875rem;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  height: 0.3125rem;
  background-color: #ffffff;
  border-radius: 5.625rem;
}

.icon-menu::before {
  top: 0;
  width: 100%;
}

.icon-menu::after {
  bottom: 0;
  width: 34%;
}

.icon-menu span {
  top: calc(50% - 0.1875rem);
  width: 67%;
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100%;
  bottom: 0.8125rem;
}

.first__text {
  font-size: 1.5625rem;
  font-weight: normal;
}

.first__buttons {
  font-weight: 600;
  font-size: 1.8125rem;
}

.title {
  font-size: 4.375rem;
  font-weight: bold;
}

.button-g {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  background: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  background: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  padding: 3px;
  border-radius: 10px;
}

.button-b-01 {
  background: #0b0b45;
  color: white;
  padding: 1.375rem 3.875rem;
  border-radius: 10px;
}

.button-b-02 {
  background: #0b0b45;
  color: white;
  padding: 0.9375rem 0.9375rem;
  border-radius: 10px;
}

.webp .wrapper{ background-image: url(../img/Bacground.webp.webp); }