@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-Arrow:before {
  content: "\e900";
  color: #fff;
}

._icon-Check:before {
  content: "\e901";
}

._icon-Email:before {
  content: "\e902";
  color: #fff;
}

._icon-GitHub:before {
  content: "\e903";
  color: #fff;
}

._icon-Phone:before {
  content: "\e904";
  color: #fff;
}

._icon-Telegram:before {
  content: "\e905";
  color: #fff;
}

._icon-TenChat .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}

._icon-TenChat .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(9, 7, 50);
}

._icon-TenChat .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

._icon-TenChat .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(9, 7, 50);
}

._icon-VK:before {
  content: "\e90a";
  color: #fff;
}

._icon-WhatsApp:before {
  content: "\e90b";
  color: #fff;
}

.social__item a:hover::before {
  background: -o-linear-gradient(306.08deg, #0ecaf3 15.35%, #9214d1 92.84%);
  background: linear-gradient(143.92deg, #0ecaf3 15.35%, #9214d1 92.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.stages-item__btn,
.more-btn,
.menu__link:hover {
  background: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  background: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: -o-linear-gradient(313.67deg, #08031f 0%, #0b0b45 102.43%, #0b0b45 102.43%);
  background: linear-gradient(136.33deg, #08031f 0%, #0b0b45 102.43%, #0b0b45 102.43%);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 6.375rem;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.invisible-bottom {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  -webkit-transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  -o-transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
}

.visible-bottom {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  visibility: visible;
  -webkit-transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  -o-transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
}

.invisible {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0.8s;
  -o-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.8s ease 0.8s;
  -o-transition: all 0.8s ease 0.8s;
  transition: all 0.8s ease 0.8s;
}

.invisible-top {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  -o-transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
}

.visible-top {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
  -webkit-transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
  -o-transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
  transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s, -webkit-transform 1.8s ease 0.5s;
}

.title-h2 {
  padding-bottom: 3.4375rem;
  position: relative;
}

@supports (font-size: clamp( 1.5rem , 1.0348837209rem  +  2.3255813953vw , 3.125rem )) {
  .title-h2 {
    font-size: clamp( 1.5rem , 1.0348837209rem  +  2.3255813953vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.0348837209rem  +  2.3255813953vw , 3.125rem )) {
  .title-h2 {
    font-size: calc(1.5rem + 1.625 * (100vw - 20rem) / 69.875);
  }
}

.title-h2 > span {
  display: inline-block;
  margin: 0 3.125rem;
}

.title-h2 > span:before,
.title-h2 > span:after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px solid #ffffff;
}

@supports ( margin-top: clamp( 1.125rem , 0.9818872987rem  +  0.7155635063vw , 1.625rem )) {
  .title-h2 > span:before,
  .title-h2 > span:after {
    margin-top: clamp( 1.125rem , 0.9818872987rem  +  0.7155635063vw , 1.625rem );
  }
}

@supports not ( margin-top: clamp( 1.125rem , 0.9818872987rem  +  0.7155635063vw , 1.625rem )) {
  .title-h2 > span:before,
  .title-h2 > span:after {
    margin-top: calc(1.125rem + 0.5 * (100vw - 20rem) / 69.875);
  }
}

.title-h2 > span:before {
  margin-left: -104%;
}

.title-h2 > span:after {
  margin-left: 4%;
}

.header {
  padding: 3.125rem 0;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (width: clamp( 3.125rem , 2.2305456172rem  +  4.4722719141vw , 6.25rem )) {
  .logo__img {
    width: clamp( 3.125rem , 2.2305456172rem  +  4.4722719141vw , 6.25rem );
  }
}

@supports not (width: clamp( 3.125rem , 2.2305456172rem  +  4.4722719141vw , 6.25rem )) {
  .logo__img {
    width: calc(3.125rem + 3.125 * (100vw - 20rem) / 69.875);
  }
}

.logo__img img {
  max-width: 100%;
}

.logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (padding-left: clamp( 0.625rem , 0.4461091234rem  +  0.8944543828vw , 1.25rem )) {
  .logo__text {
    padding-left: clamp( 0.625rem , 0.4461091234rem  +  0.8944543828vw , 1.25rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , 0.4461091234rem  +  0.8944543828vw , 1.25rem )) {
  .logo__text {
    padding-left: calc(0.625rem + 0.625 * (100vw - 20rem) / 69.875);
  }
}

.logo__title {
  font-weight: bold;
  white-space: nowrap;
}

@supports (font-size: clamp( 0.875rem , 0.4098837209rem  +  2.3255813953vw , 2.5rem )) {
  .logo__title {
    font-size: clamp( 0.875rem , 0.4098837209rem  +  2.3255813953vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.4098837209rem  +  2.3255813953vw , 2.5rem )) {
  .logo__title {
    font-size: calc(0.875rem + 1.625 * (100vw - 20rem) / 69.875);
  }
}

.logo__subtitle {
  font-weight: normal;
  white-space: nowrap;
}

@supports (font-size: clamp( 0.6875rem , 0.4549418605rem  +  1.1627906977vw , 1.5rem )) {
  .logo__subtitle {
    font-size: clamp( 0.6875rem , 0.4549418605rem  +  1.1627906977vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , 0.4549418605rem  +  1.1627906977vw , 1.5rem )) {
  .logo__subtitle {
    font-size: calc(0.6875rem + 0.8125 * (100vw - 20rem) / 69.875);
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (padding-right: clamp( 1.875rem , 1.5172182469rem  +  1.7889087657vw , 3.125rem )) {
  .social__item:not(:last-child) {
    padding-right: clamp( 1.875rem , 1.5172182469rem  +  1.7889087657vw , 3.125rem );
  }
}

@supports not (padding-right: clamp( 1.875rem , 1.5172182469rem  +  1.7889087657vw , 3.125rem )) {
  .social__item:not(:last-child) {
    padding-right: calc(1.875rem + 1.25 * (100vw - 20rem) / 69.875);
  }
}

.social__item a {
  -webkit-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  transition: background 0.8s ease 0s;
}

@supports (font-size: clamp( 1.5625rem , 1.2941636852rem  +  1.3416815742vw , 2.5rem )) {
  .social__item a {
    font-size: clamp( 1.5625rem , 1.2941636852rem  +  1.3416815742vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.2941636852rem  +  1.3416815742vw , 2.5rem )) {
  .social__item a {
    font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 69.875);
  }
}

.social__item a:hover::before {
  -webkit-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  transition: background 0.8s ease 0s;
}

.menu__body {
  position: fixed;
  right: -100%;
  -webkit-transition: right 0.5s ease 0s;
  -o-transition: right 0.5s ease 0s;
  transition: right 0.5s ease 0s;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(11, 11, 69, 0.1882352941)), color-stop(50%, #0b0b45));
  background: -o-linear-gradient(left, rgba(11, 11, 69, 0.1882352941) 50%, #0b0b45 50%);
  background: linear-gradient(to right, rgba(11, 11, 69, 0.1882352941) 50%, #0b0b45 50%);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  z-index: 4;
}

.menu-open .menu__body {
  right: 0;
  -webkit-transition: right 0.5s ease 0s;
  -o-transition: right 0.5s ease 0s;
  transition: right 0.5s ease 0s;
}

.menu__body .logo {
  margin: 3.125rem 0;
  width: 50%;
  margin-left: auto;
  padding-left: 15px;
}

@supports (height: clamp( 3.125rem , 2.2305456172rem  +  4.4722719141vw , 6.25rem )) {
  .menu__body .logo {
    height: clamp( 3.125rem , 2.2305456172rem  +  4.4722719141vw , 6.25rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.2305456172rem  +  4.4722719141vw , 6.25rem )) {
  .menu__body .logo {
    height: calc(3.125rem + 3.125 * (100vw - 20rem) / 69.875);
  }
}

.menu__body .logo__img {
  margin: auto 0;
}

@supports (width: clamp( 3.125rem , 2.9461091234rem  +  0.8944543828vw , 3.75rem )) {
  .menu__body .logo__img {
    width: clamp( 3.125rem , 2.9461091234rem  +  0.8944543828vw , 3.75rem );
  }
}

@supports not (width: clamp( 3.125rem , 2.9461091234rem  +  0.8944543828vw , 3.75rem )) {
  .menu__body .logo__img {
    width: calc(3.125rem + 0.625 * (100vw - 20rem) / 69.875);
  }
}

@supports (font-size: clamp( 0.875rem , 0.6782200358rem  +  0.9838998211vw , 1.5625rem )) {
  .menu__body .logo__title {
    font-size: clamp( 0.875rem , 0.6782200358rem  +  0.9838998211vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6782200358rem  +  0.9838998211vw , 1.5625rem )) {
  .menu__body .logo__title {
    font-size: calc(0.875rem + 0.6875 * (100vw - 20rem) / 69.875);
  }
}

.menu__body .logo__subtitle {
  font-size: 0.9375rem;
}

@supports (font-size: clamp( 0.6875rem , 0.6159436494rem  +  0.3577817531vw , 0.9375rem )) {
  .menu__body .logo__subtitle {
    font-size: clamp( 0.6875rem , 0.6159436494rem  +  0.3577817531vw , 0.9375rem );
  }
}

@supports not (font-size: clamp( 0.6875rem , 0.6159436494rem  +  0.3577817531vw , 0.9375rem )) {
  .menu__body .logo__subtitle {
    font-size: calc(0.6875rem + 0.25 * (100vw - 20rem) / 69.875);
  }
}

.menu__list {
  font-size: 1.375rem;
  font-weight: bold;
  padding: 1.875rem 3.75rem 0 3.75rem;
  width: 50%;
  margin-left: auto;
}

.menu__item {
  padding-bottom: 1.875rem;
}

.menu__link {
  -webkit-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  transition: background 0.8s ease 0s;
}

.menu__link:hover {
  -webkit-transition: background 0.8s ease 0s;
  -o-transition: background 0.8s ease 0s;
  transition: background 0.8s ease 0s;
  border-bottom: 3px solid skyblue;
  -o-border-image: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
     border-image: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  border-image-slice: 1;
}

.menu__social {
  padding: 3.75rem;
  width: 50%;
  margin-left: auto;
}

.icon-menu {
  display: block;
  position: relative;
  width: 3.75rem;
  height: 2.1875rem;
  margin-left: 1.25rem;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  height: 0.3125rem;
  background-color: #ffffff;
  border-radius: 5.625rem;
}

.icon-menu::before {
  top: 0;
  width: 100%;
}

.icon-menu::after {
  bottom: 0;
  width: 34%;
}

.icon-menu span {
  top: calc(50% - 0.1875rem);
  width: 67%;
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100%;
  bottom: 0.825rem;
}

@supports (padding-top: clamp( 1.875rem , 0.622763864rem  +  6.2611806798vw , 6.25rem )) {
  .first {
    padding-top: clamp( 1.875rem , 0.622763864rem  +  6.2611806798vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.622763864rem  +  6.2611806798vw , 6.25rem )) {
  .first {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 69.875);
  }
}

.first__text {
  font-weight: normal;
  padding-top: 1.875rem;
  width: 55%;
}

@supports (font-size: clamp( 0.875rem , 0.7497763864rem  +  0.626118068vw , 1.3125rem )) {
  .first__text {
    font-size: clamp( 0.875rem , 0.7497763864rem  +  0.626118068vw , 1.3125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7497763864rem  +  0.626118068vw , 1.3125rem )) {
  .first__text {
    font-size: calc(0.875rem + 0.4375 * (100vw - 20rem) / 69.875);
  }
}

.first__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.625rem;
  margin-left: -37px;
}

@supports (padding-bottom: clamp( 4.375rem , 2.9438729875rem  +  7.1556350626vw , 9.375rem )) {
  .first__buttons {
    padding-bottom: clamp( 4.375rem , 2.9438729875rem  +  7.1556350626vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 4.375rem , 2.9438729875rem  +  7.1556350626vw , 9.375rem )) {
  .first__buttons {
    padding-bottom: calc(4.375rem + 5 * (100vw - 20rem) / 69.875);
  }
}

.first__buttons a:last-child {
  margin-left: 3.125rem;
}

.title {
  font-weight: bold;
}

@supports (font-size: clamp( 1.5rem , 1.0348837209rem  +  2.3255813953vw , 3.125rem )) {
  .title {
    font-size: clamp( 1.5rem , 1.0348837209rem  +  2.3255813953vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.0348837209rem  +  2.3255813953vw , 3.125rem )) {
  .title {
    font-size: calc(1.5rem + 1.625 * (100vw - 20rem) / 69.875);
  }
}

.button-a {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
  font-size: 1.125rem;
}

.button-a__text {
  position: absolute;
  white-space: nowrap;
  width: 300px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 45px;
  border-radius: 9px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button-a__text::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 9px;
  z-index: -10;
}

.button-a__text:hover {
  background: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  background: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  color: #08031f;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button-b {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  background: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  background: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  padding: 1px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.125rem;
}

.button-b__text {
  background: #0b0b45;
  color: white;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 250px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-b__text:hover {
  background: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  background: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  color: #08031f;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.before {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 2;
  width: 50%;
  height: 100%;
}

.change {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  width: 6px;
  height: 100%;
  background: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  background: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
}

.change::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 50px;
  border-radius: 10px;
  background: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  background: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.website__title {
  text-align: end;
}

@supports (padding-bottom: clamp( 4.375rem , 2.9438729875rem  +  7.1556350626vw , 9.375rem )) {
  .website__inner {
    padding-bottom: clamp( 4.375rem , 2.9438729875rem  +  7.1556350626vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 4.375rem , 2.9438729875rem  +  7.1556350626vw , 9.375rem )) {
  .website__inner {
    padding-bottom: calc(4.375rem + 5 * (100vw - 20rem) / 69.875);
  }
}

.website__slider {
  margin: 0 1.25rem 1.25rem 0;
  position: relative;
  overflow: hidden;
  border: 3px solid #0b0b45;
  width: 100%;
}

@supports (height: clamp( 18.75rem , 13.383273703rem  +  26.8336314848vw , 37.5rem )) {
  .website__slider {
    height: clamp( 18.75rem , 13.383273703rem  +  26.8336314848vw , 37.5rem );
  }
}

@supports not (height: clamp( 18.75rem , 13.383273703rem  +  26.8336314848vw , 37.5rem )) {
  .website__slider {
    height: calc(18.75rem + 18.75 * (100vw - 20rem) / 69.875);
  }
}

.website__slider img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.website__text {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.2;
}

@supports (font-size: clamp( 0.875rem , 0.8034436494rem  +  0.3577817531vw , 1.125rem )) {
  .website__text {
    font-size: clamp( 0.875rem , 0.8034436494rem  +  0.3577817531vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8034436494rem  +  0.3577817531vw , 1.125rem )) {
  .website__text {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 69.875);
  }
}

.website__item {
  padding-bottom: 1.25rem;
}

.more-btn {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  border-bottom: 1px solid #0b0b45;
}

.more-btn:hover {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  border-bottom: 1px solid skyblue;
  -o-border-image: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
     border-image: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  border-image-slice: 1;
}

.stages__slider {
  padding-bottom: 6.25rem;
}

.stages__border {
  background: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  background: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  padding: 2px;
  border-radius: 10px;
  width: 350px;
}

.stages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 346px;
  background: #0b0b45;
  border-radius: 10px;
  padding: 3.125rem 0.9375rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.stages-item::before {
  content: "1";
  font-size: 25rem;
  font-weight: bold;
  line-height: 488px;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.stages-item__title {
  font-weight: bold;
  padding-bottom: 3.125rem;
}

@supports (font-size: clamp( 0.875rem , 0.5887745975rem  +  1.4311270125vw , 1.875rem )) {
  .stages-item__title {
    font-size: clamp( 0.875rem , 0.5887745975rem  +  1.4311270125vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.5887745975rem  +  1.4311270125vw , 1.875rem )) {
  .stages-item__title {
    font-size: calc(0.875rem + 1 * (100vw - 20rem) / 69.875);
  }
}

.stages-item__text {
  padding-bottom: 1.5625rem;
}

@supports (font-size: clamp( 0.625rem , 0.4818872987rem  +  0.7155635063vw , 1.125rem )) {
  .stages-item__text {
    font-size: clamp( 0.625rem , 0.4818872987rem  +  0.7155635063vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.4818872987rem  +  0.7155635063vw , 1.125rem )) {
  .stages-item__text {
    font-size: calc(0.625rem + 0.5 * (100vw - 20rem) / 69.875);
  }
}

.stages-item__btn {
  white-space: nowrap;
  margin: 0 auto;
  padding-top: 1.5625rem;
  cursor: pointer;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  border-bottom: 1px solid #0b0b45;
}

@supports (width: clamp( 8.125rem , 6.5149821109rem  +  8.0500894454vw , 13.75rem )) {
  .stages-item__btn {
    width: clamp( 8.125rem , 6.5149821109rem  +  8.0500894454vw , 13.75rem );
  }
}

@supports not (width: clamp( 8.125rem , 6.5149821109rem  +  8.0500894454vw , 13.75rem )) {
  .stages-item__btn {
    width: calc(8.125rem + 5.625 * (100vw - 20rem) / 69.875);
  }
}

@supports (font-size: clamp( 1.125rem , 0.9103309481rem  +  1.0733452594vw , 1.875rem )) {
  .stages-item__btn {
    font-size: clamp( 1.125rem , 0.9103309481rem  +  1.0733452594vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9103309481rem  +  1.0733452594vw , 1.875rem )) {
  .stages-item__btn {
    font-size: calc(1.125rem + 0.75 * (100vw - 20rem) / 69.875);
  }
}

.stages-item__btn:hover {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  border-bottom: 1px solid skyblue;
  -o-border-image: -o-linear-gradient(357.48deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
     border-image: linear-gradient(92.52deg, #0ecaf3 1.08%, #9214d1 99.17%, #9214d1 99.17%);
  border-image-slice: 1;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 75em) {
  .header__social.social {
    display: none;
  }
}

@media (max-width: 71.25em) {
  .menu__body {
    background: #0b0b45;
  }

  .menu__body .logo {
    width: 100%;
  }

  .menu__list {
    width: 100%;
  }

  .menu__social {
    width: 100%;
  }
}

@media (max-width: 61.99875em) {
  .header {
    padding: 1.875rem 0;
  }

  .__container {
    padding: 0 15px;
  }

  .menu__body .logo {
    margin: 1.875rem 0;
  }

  .menu__list {
    text-align: center;
    padding: 0.9375rem 0.9375rem 0 0.9375rem;
  }

  .menu__social {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3.75rem 0.9375rem;
  }

  .icon-menu {
    width: 2.5rem;
    height: 1.75rem;
  }

  .menu-open .icon-menu::after {
    bottom: 0.625rem;
  }

  .first__text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .first__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }

  .first__buttons a:last-child {
    margin-left: 0px;
    margin-top: 1.875rem;
  }

  .title {
    text-align: center;
  }
}

@media (max-width: 47.99875em) {
  .title-h2 {
    text-align: center;
  }

  .title-h2 span {
    margin: 0;
  }

  .title-h2 span:before,
  .title-h2 span:after {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .button-a img {
    width: 19.375rem;
  }

  .button-a__text {
    width: 236px;
    height: 53px;
    border-radius: 6px;
    margin: 37px;
  }

  .button-b__text {
    width: 178px;
    height: 53px;
  }
}