// Заголовки, общие БЄМ блоки и проче...
//Анимация ============================================
//в теге уакзать классы anim-bottom invisible-bottom, добавляется visible-bottom
//Всплывает снизу вверх
.invisible-bottom {
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, 50%);
    transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
}
.visible-bottom {
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
}
//в теге уакзать классы anim invisible, добавляется visible
//Плавное появление
.invisible {
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0.8s;
}
.visible {
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease 0.8s;
}

//в теге уакзать классы anim-top invisible-top, добавляется visible-top
//Выплавает сверху в низ
.invisible-top {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px);
    transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
}
.visible-top {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
    transition: opacity 1.8s ease 0.5s, transform 1.8s ease 0.5s;
}